body {
  --brand: navy;
  --brand-context: green;
  --brand-light: white;
}
.reveal .trail {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.reveal .trail h1,
.reveal .trail h2,
.reveal .trail h3 {
  font-size: 3rem;
  color: var(--brand-context);
}
.reveal .trail h1 {
  padding-right: 1rem;
}
.reveal .trail h2 {
  border-left: 3px solid var(--brand-context);
  padding-left: 1rem;
  padding-right: 1rem;
}
.reveal .trail h3 {
  border-left: 3px solid var(--brand-context);
  padding-left: 1rem;
  padding-right: 1rem;
}

.reveal .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  color: var(--brand-context);
}

.reveal .title {
  color: var(--brand-light);
  text-align: left;
}
.reveal .title h1,
.reveal .title h2 {
  color: var(--brand-light);
}

.reveal .module {
  color: var(--brand-light);
}
